# REGex- Datascience- Assignment-1

#Task 1

Name- Atishay Jain

Referral id - SIRSS1179

-->  PATTERN-1

In [3]:
for i in range(5,0,-1):
    for j in range(0,i):
        print("5", end="")
    print(" ")

55555
5555
555
55
5

--> PATTERN-2

In [4]:
for i in range(6,1,-1):
    for j in range(0,i):
        print(j, end="")
    print("")

012345
01234
0123
012
01

--> PATTERN-3

In [5]:
for i in range(1,6):
    for j in range(i):
        print(i*2-1, end=" ")
    print("")

1
3 3
5 5 5
7 7 7 7
9 9 9 9 9

--> PATTERN-4

In [6]:
rows = int(input("Enter the number of rows"))
for row in range(1, rows+1):
   for column in range(row, 0, -1):
       print(column, end=" ")
   print(" ")

Enter the number of rows6
1
2 1
3 2 1
4 3 2 1
5 4 3 2 1
6 5 4 3 2 1

--> PATTERN-5

In [ ]:
n=int(input("Enter the number of rows :"))
k=0
for i in range(1,n+1):
    k=k+i
    for j in range(k,k-i,-1):
        print(j, end=" ")
    print(" ")

--> PATTERN-6

In [46]:
def pascal_triangle(n):
   trow = [1]
   y = [0]
   for x in range(max(n,0)):
      print(trow)
      trow=[l+r for l,r in zip(trow+y, y+trow)]
   return n>=1
pascal_triangle(6)

[1]
[1, 1]
[1, 2, 1]
[1, 3, 3, 1]
[1, 4, 6, 4, 1]
[1, 5, 10, 10, 5, 1]

True

--> PATTERN-7

In [8]:
for i in range(1,6):
    for j in range(1,6):
        if j<=i:
            print(i, end=" ")
        else:
            print(j,end=" ")    
    print(" ")

1 2 3 4 5
2 2 3 4 5
3 3 3 4 5
4 4 4 4 5
5 5 5 5 5

--> PATTERN-8

In [9]:
for i in range(1,9):
    for j in range(1,i+1):
        print(j*i, end=" ")
    print(" ")

1
2 4
3 6 9
4 8 12 16
5 10 15 20 25
6 12 18 24 30 36
7 14 21 28 35 42 49
8 16 24 32 40 48 56 64

--> PATTERN-9

In [22]:
rows = int(input("Enter the number of rows: "))  
k = 2 * rows - 2  
for i in range(rows, -1, -1):  
    for j in range(k, 0, -1):  
        print(end=" ")  
    k = k + 1    
    for j in range(0, i + 1):  
        print("*", end=" ")  
    print("")

Enter the number of rows: 5
        * * * * * *
         * * * * *
          * * * *
           * * *
            * *
             *

--> PATTERN-10

In [11]:
n = 0
r = 7
for m in range(1, r+1):
   for gap in range(1, (r-m)+1):
      print(end=" ")
   while n != (2*m-1):
      print("* ", end="")
      n = n + 1
   n = 0
   print()

      *
     * * *
    * * * * *
   * * * * * * *
  * * * * * * * * *
 * * * * * * * * * * *
* * * * * * * * * * * * *

--> PATTERN-11

In [12]:
for i in range(1,6):
    for j in range(1,i+1):
        print("*", end=" ")
    print(" ")
print("\n")
for k in range(1,6):
    for l in range(6,k,-1):
        print("*", end=" ")
    print(" ")

*
* *
* * *
* * * *
* * * * *


* * * * *
* * * *
* * *
* *
*

--> PATTERN-12

In [77]:
def pattern(n):
      for i in range(0, n):
           for j in range(0, i + 1):
                print("* ", end="")
           print("\r")
      for i in range(n, 0 , -1):
          for j in range(0, i + 1):
               print("* ", end="")
          print("\r")
 
pattern(4)

*
* *
* * *
* * * *
* * * * *
* * * *
* * *
* *

--> PATTERN-13

In [75]:
def pattern(n):
    k = 2 * n - 2
    for i in range(0, n-1):
        for j in range(0, k):
            print(end=" ")
        k = k - 2
        for j in range(0, i + 1):
            print("* ", end="")
        print("\r")
    k = -1
    for i in range(n-1,-1,-1):
        for j in range(k,-1,-1):
            print(end=" ")
        k = k + 2
        for j in range(0, i + 1):
            print("* ", end="")
        print("\r")
 
 
pattern(5)

        *
      * *
    * * *
  * * * *
* * * * *
  * * * *
    * * *
      * *
        *

--> PATTERN-14

In [14]:
row = int(input("Enter number of rows: "))

print("Generated Hourglass Pattern is: ")
# Upper-half
for i in range(row, 0, -1):
    for j in range(row-i):
        print(" ", end="")
    for j in range(1, 2*i):
        print("*", end="")
    print()

# Lower-half
for i in range(2, row+1):
    for j in range(row-i):
        print(" ", end="")
    for j in range(1, 2*i):
        print("*", end="")
    print()

Enter number of rows: 5
Generated Hourglass Pattern is:
*********
 *******
  *****
   ***
    *
   ***
  *****
 *******
*********

--> PATTERN-15

In [1]:
for i,j in zip(range(8,0,-1), range(0,8)):
    print("*"*i+ "_" *(2*j) + "*"*i)

****************
*******__*******
******____******
*****______*****
****________****
***__________***
**____________**
*______________*